@model Products

<h2>@Model.ProductName</h2>
<div class="thumbnail">
    <img src="@Model.ImageUrl" alt="@Model.ProductName"/>
    <div class="caption">
        <h3 class="pull-right"><strong>&#8377; @Model.price</strong></h3>
        <h3><a href="#">@Model.ProductName</a></h3>
        <h4>@Model.Description</h4>
    </div>
</div>
<br/>
<p style="font-family:'Microsoft Sans Serif'; font-size:25px">
    Logitech B170 Wireless Mouse, 2.4 GHz with USB Nano Receiver, Optical Tracking, 12-Months Battery Life, Ambidextrous, PC/Mac/Laptop - Black
</p>

<span class="goback" style="background-color:crimson; color:white">
   <a asp-controller="Products" asp-action="List"> &#10094; Back to List &nbsp;</a>
</span>
<table>
    <tr>
        <td>M.R.P</td>
        <td style="padding-left:20px">&#8377; <s>795.00</s></td>
    </tr>
        <tr>
        <td>Deal Price</td>
        <td style="font-size:20px; color:maroon; padding-left:20px">&#8377; 256.00</td>
    </tr>
        <tr>
        <td>You Saved</td>
        <td style="font-size:20px; color:maroon; padding-left:20px">&#8377; 493.44</td>
    </tr>
</table>
<h3>About this Item</h3>
<ul>
    <li>
        Reliable Wireless Connection : Enjoy a wireless connection up to 10m away thanks to a plug-and-forget USB mini-receiver
        </li>
    <li>
        Optical Tracking : The advanced optical tracking features enable ultra precise moves on almost any surface. Required: available USB port, Windows 7, 8, 10 or later, macOS 10.5 or later, Chrome OS, Linux Kernel 2.6+
    </li>
    <li>
        12-Month Battery Life : Don’t worry about constant battery changes as this wired Logitech mouse has a 12-month battery life.
    </li>
</ul>